.services__title {
  padding-top: 3%;

}
.services__container {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    column-gap: 1.8rem;
    margin-top: 2rem;
}

.services__icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services__content img {
  width: 100%; 
  height: auto; 
  max-width: 100%;
}

/* .services__content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);

} */

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.8rem;
    font-weight: var(--font-medium);
    text-align: center;
}




/* Breakpoints */
@media screen and (max-width: 992px) {
  .services__container {
    grid-template-columns: repeat(auto-fit, minmax(218px, 1fr)); 
  }
}

@media screen and (max-width: 768px) {
  .services__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .services__content {
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  }

  .services__icon {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .services__container {
    grid-template-columns: repeat(1, 1fr); 
  }

  .services__content {
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .services__container {
    grid-template-columns: max-content;
  }

  .services__content {
    padding-right: 6rem;
  }
}
